.spinner-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  align-items: center;
  display: flex;
  
}

span{
    margin-left: 5px;
}